
body{
    background-color: black;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.main{
  background-color: gray;
  padding: 10px 0;
}

.main h1{
  text-align: center;
}

.footer {
   width: 100%;
   height: 250px;
   background-color:black;
   color: white;
   margin-top: auto;
}