body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
}

.logo img {
    max-height: 100px;
}

nav ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: blue;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}

nav a:hover {
    background-color: #555;
}
